APP_NAME=Financial Tracker API
APP_ENV=development
DEBUG=true

POSTGRES_USER=slacker
POSTGRES_PASSWORD=slackerpass
POSTGRES_DB=fainance_db
POSTGRES_HOST=localhost
POSTGRES_PORT=5433

DATABASE_URL=postgresql+psycopg://slacker:slackerpass@localhost:5433/fainance_db